@import url(http://fonts.googleapis.com/css?family=Domine|Cantata+One|Inika);

input.ng-dirty.ng-invalid{
}
.jumbotron
{
	background:#FFFFFF;
	border:1px solid;
}
body{
	font-family: 'Domine','Cantata One','Inkia', serif;
	padding-top:40px;
	background:#EAEAEA;
}

button.btn.login
{
	background:black;
	color:white;
}

button:disabled.btn
{
	background:#C1C1C1;
}

form#login
{
	background:#FFFFFF;
	border:1px solid;
	width: 220px;
	height: 180px;
	padding: 20px;
	margin: 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
