 <div class='modal-dialog'>
   <div class='modal-content'>
  	 <div class='modal-header'><h3>Sign up</h3></div>
  	 <div class='modal-body'>
  	 	<div class='alert alert-success' ng-show='createdAccount'>Your account was created</div>
  	 	<div class='alert alert-warning' ng-show='usernameExists'>An account with that username already exists</div>
  	 	<div class='alert alert-warning' ng-show='errorHappened'>Oops! somthing went wrong please try again</div>
  	 	<form class='form-horizontal' name='signup' novalidate >
	  	 	<div class='input-group'>
	  	 		<input class='form-control' type='text' placeholder='Name'  ng-model='input.name'/>
	  	 	</div>
	  	 	<div class='input-group'>
	  	 		<input class='form-control' type='text' placeholder='Username' name='username' ng-model='input.username' required/>
	  	 		<div  class='alert alert-danger' ng-show="signup.username.$error.required && signup.username.$dirty">
	  	 			<strong>Error</strong> This is a required field
	  	 		</div>
	  	 	</div>
	  	 	<div class='input-group'>
	  	 		<input class='form-control' type='email' placeholder='Email' name='email' ng-model='input.email'  required/>
	  	 		<div  class='alert alert-danger' ng-show="signup.email.$error.required && signup.email.$dirty">
	  	 			<strong>Error</strong> This is a required field
	  	 		</div>
	  	 		<div  class='alert alert-danger' ng-show="signup.email.$error.email && signup.email.$dirty">
	  	 				<strong>Error</strong> Invalid Email
	  	 		</div>
	  	 	</div>
	  	 	<div class='input-group'>
	  	 		<input  class='form-control' type='password' placeholder='Password'   name='password' ng-model='input.password' required/>
	  	 		<div  class='alert alert-danger' ng-show="signup.password.$error.required && signup.password.$dirty">
	  	 			<strong>Error</strong> This is a required field
	  	 		</div>
	  	</div>

  	 	
  	 <div class='modal-footer'>
  	 	<button  class='btn btn-danger' ng-click='cancel()' >cancel</button>
  	 	<button  class='btn btn-success' ng-click='ok()' >Sign me up</button>
  	 </div>
   </div>
</div>