<div class='modal-dialog'>
   <div class='modal-content'>
  	 <div class='modal-header'><h3>Welcome</h3></div>
  	 <div class='modal-body'>
  	 	<p>Welcome to slagging match. Choose your foe from the list on the right. The aim of the game is to <strong>insult</strong> them as best you can; Once you begin the match you have <strong>30 seconds</strong> to respond or you will be kicked off</p>
	</div>
  	 <div class='modal-footer'>
  	 	<button  class='btn btn-primary' ng-click='ok()' >Got it</button>
  	 </div>
   </div>
</div>