<!DOCTYPE html>
<html>
<head>
<!--build:css({.tmp,app}) styles/bootstrap.min.css-->
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

<!--build:css({.tmp,app}) styles/font-awesome.css-->
<link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<!--endbuild-->

<link rel='stylesheet' type='text/css' href='styles/main.css'/>

<meta charset="utf8">
<title><%= title %></title>
</head>
<body ng-app='assignmentApp'>
	<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

<!--build:js(app) scripts/jquery.js-->
<script src="bower_components/jquery/jquery.min.js"></script>
<!--endbuild-->

<!--build:js(app) scripts/bootstrap.js-->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--endbuild-->


<script src="socket.io/socket.io.js"></script>

<!--build:js(app) scripts/angular.min.js-->
<script src="bower_components/angular/angular.min.js"></script>
<!--endbuild-->

<!--build:js(app) scripts/angular.min.js-->
<script src="/bower_components/angular-socket-io/socket.js"></script>
<!--endbuild-->

<!--build:js(app) scripts/plugins.js-->
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<!--endbuild-->



<!--build:js({.tmp,app}) scripts/app.js-->
<script src='scripts/app.js'></script>
<script src='scripts/controllers/index.js'></script>
<script src='scripts/controllers/chat.js'></script>
<!--endbuild-->

<%- body -%>
</body>
</html>