<% layout('boilerplate') -%>
<div class='container'>
		<div class='row' style='top:5px'>
			<div class="col-md-3 col-md-offset-9" >
				<a class='btn btn-primary' href='users/logout'>log out</a>
			</div>
		</div>
</div>