<% layout('boilerplate') -%>
<div class='container' ng-controller='chatCtrl'>
	<div class='row' style='top:5px'>
			<div class="col-md-1 col-md-offset-12" >
				<a class='btn btn-primary' href='users/logout'>log out</a>
			</div>
		</div>
		<div class='row'>
		<h3 ng-show='chatting'> chatting with &quot;{{talkingto}}&quot;&nbsp Time remaining {{time}}</h3>
			<div class="col-md-8" style='padding-top:15px'>
				<div class='chatBox' ng-model='chatBox'>
					<ul class='list-group'>
						<li class='list-group-item' ng-repeat='message in messages'>{{message}}</li>
					</ul>
				</div>
			</div>

		<div class="col-md-3 col-md-offset-1">
			<h3>other users online</h3>
			<ul class='list-unstyled'>
				<li ng-repeat='user in users' ng-click='$parent.chatWith(user.id, user.username)'><div class='well userbox'>{{user.username}}</div></li>
			</ul>
		</div>

	</div>
	<div class='row'>
		<div class="col-md-8" style='padding-top:15px'>
				<div class="input-group">
     				<input type="text" class="form-control" ng-model='text' ng-keypress='checkSubmit($event)'>
     				<span class="input-group-btn">
        				<button class="btn btn-primary" ng-click='message()' type="button">Go</button>
      				</span>
   				 </div>
			</div>
	</div>

</div>