<div class='container'>
	<div class='content'>
		<div class='row'>
			<div class="col-md-3 col-md-offset-4">
				<h3>Login</h3>
				<form id='login' name='loginForm'  ng-controller='loginCtrl'>
					<label>Username: <input id='username' type='text' ng-model='username' required/></label><br/>
					<label>Password: <input id='password' type='password' ng-model='password' required/></label><br/>
					<button id='submit' class='btn'  ng-class='{enabled:  loginForm.$valid}'  ng-disabled='!loginForm.$valid' ng-click='login()'>login</button>
				</form>
			</div>
		</div>
	</div>
</div>