<% layout('boilerplate') -%>
<div class='container'>
	<div class='content'>
		<div class='row'>
			<div class="col-md-10">
			</div>
			<div class="col-md-2" ng-controller='signUpCtrl'>
				<button class='btn btn-info' ng-show='!show' ng-click='show = !show'>Sign up</button>
				<div class='' style='position:fixed; z-index:2' ng-show='show'>
					<p>sample text</p>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class="col-md-3 col-md-offset-4" style='position:fixed; z-index:1'>
				<h3>Login</h3>
				<form id='login' name='loginForm'  ng-controller='loginCtrl'>
					{{message}}
					<label>Username: <input id='username' type='text' ng-model='username'/></label><br/>
					<label>Password: <input id='password' type='password' ng-model='password'/></label><br/>
					<button id='submit' class='btn login'   ng-disabled='!loginForm.$dirty' ng-click='login()'>login <i class="fa fa-exclamation"></i></button>
				</form>
				
			</div>
		</div>
	</div>
</div>