<!DOCTYPE html>
<html>
<head>
<link href="styles/bootstrap.css" rel="stylesheet"/>
<link rel='stylesheet' type='text/css' href='styles/main.css'/>
<meta charset="utf8">
<title>{{title}}</title>
</head>
<body ng-app='assignmentApp'>
{{{body}}}
	<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src='scripts/app.js'></script>
<script src='scripts/controllers/main.js'></script>
</body>
</html>
